<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div class="text-center max-w-4xl mx-auto">
      <div class="sm:flex sm:justify-center">
        <!-- Sección de enlace opcional -->
      </div>
      <div class="text-center mt-8">
        <h1 class="text-4xl tracking-tight font-semibold text-black md:text-5xl font-display">
          Constituye tu SACS de manera fácil y rápida, sin notarios.
        </h1>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          100% digital usando certificados digitales
        </p>
      </div>
    </div>

    <dl class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center items-start">
      <div class="text-gray-500">
        <strong class="text-gray-700 text-lg">Constitución de Empresas SACS</strong>
        <p class="text-gray-600 text-base">
          Ofrecemos la constitución de empresas SACS sin necesidad de intervención notarial. 
          Simplificamos el proceso, eliminando barreras y acelerando la formalización de tu negocio.
        </p>
      </div>
      <div class="text-gray-500">
        <strong class="text-gray-700 text-lg">100% Digital</strong>
        <p class="text-gray-600 text-base">
          Nuestro servicio es completamente digital, lo que significa que puedes realizar todos los trámites 
          desde la comodidad de tu hogar. Olvídate de los desplazamientos y las largas colas.
        </p>
      </div>
      <div class="text-gray-500">
        <strong class="text-gray-700 text-lg">Certificados Digitales</strong>
        <p class="text-gray-600 text-base">
          Utilizamos certificados digitales para garantizar la seguridad y autenticidad de los documentos. 
          Esto no solo facilita el proceso, sino que también asegura la validez de tu empresa ante las autoridades.
        </p>
      </div>
    </dl>

    <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="bg-gray-100 p-8 rounded-3xl">
        <img
          alt="Descripción de la imagen"
          class="relative w-full border border-gray-200 lg:rounded-2xl object-cover rounded shadow-2xl"
          src="public/SacsMype-inicio.jpeg"
        />
      </div>
    </div>

    <div class="flex overflow-hidden space-x-8">
      <div class="logo-container animate-marquee1">
        <img alt="logo" class="h-12 object-contain" src="public/support/sup.png" />
      </div>
      <div class="logo-container animate-marquee2">
        <img alt="logo" class="h-12 object-contain" src="public/support/girasol.jpeg" />
      </div>
      <div class="logo-container animate-marquee3">
        <img alt="logo" class="h-12 object-contain" src="public/support/cofide.jpeg" />
      </div>
      <div class="logo-container animate-marquee4">
        <img alt="logo" class="h-12 object-contain" src="public/support/factmype.png" />
      </div>
      <div class="logo-container animate-marquee5">
        <img alt="logo" class="h-12 object-contain" src="public/support/INSAGA.jpeg" />
      </div>
      <div class="logo-container animate-marquee6">
        <img alt="logo" class="h-12 object-contain" src="public/support/LOGO-INCUVAL-1.png" />
      </div>
    </div>
  </div>

  <style>
    .flex {
      position: relative;
      width: 100%;
      overflow: hidden;
    }

    .logo-container {
      position: relative;
      display: inline-block;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    @keyframes move-left {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    .animate-marquee1 {
      animation-name: move-left;
    }
    .animate-marquee2 {
      animation-name: move-left;
      animation-delay: 1s; /* Delay para que se muevan en diferentes tiempos */
    }
    .animate-marquee3 {
      animation-name: move-left;
      animation-delay: 2s;
    }
    .animate-marquee4 {
      animation-name: move-left;
      animation-delay: 3s;
    }
    .animate-marquee5 {
      animation-name: move-left;
      animation-delay: 4s;
    }
    .animate-marquee6 {
      animation-name: move-left;
      animation-delay: 5s;
    }
  </style>
</section>

