<section id="requisitos">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div
      class="grid grid-cols-1 gap-4 mt-6 items-center list-none lg:grid-cols-2 lg:gap-24">
      <div class="text-center lg:text-left">
        <div>
          <p
            class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
            Requisitos - ¿Cómo ser partner?
          </p>
          <p class="text-base mt-4 text-gray-500">
            Nuestra plataforma puede ser utilizada por personas, profesionales y empresas que desean brindar el servicio de constitución de empresas SACS. 
            Ya sea que estés iniciando tu propio negocio o que quieras expandir tus servicios como profesional, en llama.pe encontrarás la solución que necesitas.
          </p>
        </div>
        
      </div>
      <div class="lg:mt-0 mt-12 h-full hidden lg:block rounded-3xl overflow-hidden border border-gray-200">
        <div class="bg-gray-100 p-8 rounded-2xl overflow-hidden">
          <img
            alt="Descripción de la nueva imagen"
            class="border border-gray-200 lg:rounded-3xl object-cover rounded shadow-2xl"
            src="public/SacsMype-requisitos.jpeg"
          />
        </div>
      </div>
      
    </div>
    <p
    class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
    Requisitos:
  </p>
    <div class="mt-24 w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"
            ></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Conocimiento básico en temas societarios
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          Si no cuentas con este conocimiento, no te preocupes, ya que ofrecemos eventos de capacitación para que puedas adquirirlo.
        </p>
      </div><div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"
            ></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Compromiso social con la masificación de la transformación y firma digital
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          Es importante que nuestros partners compartan este compromiso, que busca facilitar y promover el uso de las herramientas digitales en la constitución de empresas.
        </p>
      </div><div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"
            ></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Capacidad de brindar un servicio de calidad y seguimiento continuo a los clientes
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          Asegurarse de que los clientes reciban la asesoría adecuada y el apoyo necesario durante 
          todo el proceso de constitución de su empresa es clave para ser parte de nuestra plataforma.
        </p>
      </div>
    </div>
  </div>
</section>
