<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-12">
      <div class="text-center lg:text-left">
        <div>
          <p class="text-3xl font-normal tracking-tight text-black font-display">
            Preguntas Frecuentes
          </p>
          <p class="text-base mt-4 text-black">
            Encuentra las respuestas a las dudas más comunes sobre nuestra plataforma y servicios.
          </p>
        </div>
      </div>
      
      <!-- Contenedor de Acordeones -->
      <div x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }" class="relative w-full mx-auto font-normal lg:col-span-2">
        <!-- Pregunta 1 -->
        <div x-data="{ id: $id('accordion') }" :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }" class="cursor-pointer group text-black">
          <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none">
            <span>¿Por qué no interviene una notaría?</span>
            <svg class="w-5 h-5 duration-300 ease-out text-accent-500 -rotate-[45deg]" :class="{ '-rotate-[45deg]': activeAccordion==id }" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"></path>
            </svg>
          </button>
          <div x-show="activeAccordion==id" x-collapse="">
            <div class="p-4 pt-2 text-black">
              Gracias al <strong>Decreto Legislativo Nº 1409</strong>, se creó la Sociedad por Acciones Cerrada Simplificada (SACS), que permite formalizar empresas sin la intervención de una notaría. La <strong>Sunarp</strong> implementó formatos digitales para este proceso, lo que facilita la constitución utilizando certificados digitales.
            </div>
          </div>
        </div>
        
        <!-- Pregunta 2 -->
        <div x-data="{ id: $id('accordion') }" :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }" class="cursor-pointer group text-zinc-600 hover:text-accent-500">
          <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none">
            <span>¿Cómo es el costo para constituir una empresa?</span>
            <svg class="w-5 h-5 duration-300 ease-out text-accent-500" :class="{ '-rotate-[45deg]': activeAccordion==id }" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"></path>
            </svg>
          </button>
          <div x-show="activeAccordion==id" x-collapse="">
            <div class="p-4 pt-2 text-black">
              El precio básico para la constitución es <strong>S/. 354</strong>, aplicable si el capital no supera los S/. 5,000 y se cuenta con un máximo de 2 socios y un solo gerente. Para situaciones que excedan estos parámetros, el costo se ajustará según las necesidades específicas del cliente.
            </div>
          </div>
        </div>
        
        <!-- Pregunta 3 -->
        <div x-data="{ id: $id('accordion') }" :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }" class="cursor-pointer group text-zinc-600 hover:text-accent-500">
          <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none">
            <span>¿Cuándo se debe pagar el costo total?</span>
            <svg class="w-5 h-5 duration-300 ease-out text-accent-500" :class="{ '-rotate-[45deg]': activeAccordion==id }" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"></path>
            </svg>
          </button>
          <div x-show="activeAccordion==id" x-collapse="">
            <div class="p-4 pt-2 text-black">
              Para iniciar el proceso, requerimos un adelanto de <strong>S/. 54</strong>. El resto se cancela antes de la firma digital de los documentos. Puedes realizar el pago en línea o a nuestra cuenta en el BCP.
            </div>
          </div>
        </div>
        
        <!-- Pregunta 4 -->
        <div x-data="{ id: $id('accordion') }" :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }" class="cursor-pointer group text-zinc-600 hover:text-accent-500">
          <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none">
            <span>¿Cuáles son los requisitos para los socios?</span>
            <svg class="w-5 h-5 duration-300 ease-out text-accent-500" :class="{ '-rotate-[45deg]': activeAccordion==id }" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"></path>
            </svg>
          </button>
          <div x-show="activeAccordion==id" x-collapse="">
            <div class="p-4 pt-2 text-black">
              Los socios deben contar con <strong>DNI vigente</strong> y no tener multas electorales en la JNE. Además, los esposos casados civilmente no pueden ser socios debido a la sociedad conyugal, aunque hay algunas excepciones.
            </div>
          </div>
        </div>
        
        <!-- Pregunta 5 -->
        <div x-data="{ id: $id('accordion') }" :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }" class="cursor-pointer group text-zinc-600 hover:text-accent-500">
          <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none">
            <span>¿Qué se puede aportar en bienes no dinerarios?</span>
            <svg class="w-5 h-5 duration-300 ease-out text-accent-500" :class="{ '-rotate-[45deg]': activeAccordion==id }" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"></path>
            </svg>
          </button>
          <div x-show="activeAccordion==id" x-collapse="">
            <div class="p-4 pt-2 text-black">
              Puedes aportar bienes como mercadería, equipos (computadoras, máquinas), muebles, etc. No se pueden incluir vehículos, terrenos o propiedades. No es necesario presentar facturas, solo un detalle de los bienes, como marca, modelo, y serie.
            </div>
          </div>
        </div>
        
        <!-- Pregunta 6 -->
        <div x-data="{ id: $id('accordion') }" :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }" class="cursor-pointer group text-zinc-600 hover:text-accent-500">
          <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none">
            <span>¿Cómo se realiza el aporte en efectivo?</span>
            <svg class="w-5 h-5 duration-300 ease-out text-accent-500" :class="{ '-rotate-[45deg]': activeAccordion==id }" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"></path>
            </svg>
          </button>
          <div x-show="activeAccordion==id" x-collapse="">
            <div class="p-4 pt-2 text-black">
              Si decides hacer el depósito del aporte en efectivo, te asistiremos durante el proceso. La apertura de la cuenta corriente se realiza en cualquier banco de tu preferencia.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
