<section id="ser-partner" class="bg-white py-24">
  <div class="container mx-auto max-w-7xl px-8 lg:px-24">
    <!-- Sección de Introducción: "Ser Partner" -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
      <!-- Texto de Introducción -->
      <div class="text-center lg:text-left">
        <h2 class="text-3xl md:text-3xl font-bold text-black">¿Qué es ser Partner?</h2>
        <p class="mt-4 text-lg text-gray-600">
          Ser Partner de nuestra empresa <strong>FIRMEASY.LEGAL</strong> significa ser un socio, compañero y distribuidor de certificados digitales. Firma Digital Certificada y Firma Electrónica Avanzada con beneficios que ayudan a extender el mercado de la seguridad informática.
        </p>

        <!-- Razones para convertirse en partner -->
        <h2 class="mt-12 text-3xl md:text-3xl font-bold text-black">¿Por qué convertirse en Partner?</h2>
        <p class="mt-4 text-lg text-gray-600">
          Somos una entidad de registro acreditada, brindando seguridad en la emisión de certificados a nuestros partners. Además, <strong>Firmeasy.legal</strong> ofrece descuentos según la cantidad de certificados adquiridos.
        </p>

        <!-- Público objetivo -->
        <h2 class="mt-12 text-3xl md:text-3xl font-bold text-black">¿A quién va dirigido?</h2>
        <ul class="mt-4 list-disc list-inside text-lg text-gray-600">
          <li>Contadores</li>
          <li>Desarrolladores de software</li>
          <li>Proveedores de servicios en la nube</li>
        </ul>
      </div>

      <!-- Imagen Representativa -->
      <div class="hidden lg:block">
        <div class="bg-[#e0f7fa] p-8 rounded-2xl shadow-lg">
          <img src="public/SacsMype-requisitos.jpeg" alt="Descripción de la imagen del Partner" class="rounded-lg object-cover shadow-2xl">
        </div>
      </div>
    </div>

    <!-- Sección de Beneficios -->
    <h2 class="mt-24 text-3xl md:text-5xl font-bold text-center text-black">Beneficios de ser Partner</h2>
    <div class="mt-12 grid grid-cols-1 lg:grid-cols-4 gap-8">
      <!-- Beneficio 1 -->
      <div class="benefit-card">
        <div class="benefit-icon">
          <img src="/public/support/oferta-especial.png" alt="Descuentos" class="w-16 h-16 mx-auto">
        </div>
        <h3 class="mt-4 text-lg font-semibold text-black">Descuentos especiales</h3>
        <p class="mt-4 text-sm text-gray-600">
          Ofrecemos descuentos especiales en cada certificado requerido, según la cantidad adquirida.
        </p>
      </div>

      <!-- Beneficio 2 -->
      <div class="benefit-card">
        <div class="benefit-icon">
          <img src="/public/support/pago.png" alt="Rapidez" class="w-16 h-16 mx-auto">
        </div>
        <h3 class="mt-4 text-lg font-semibold text-black">Emisión rápida</h3>
        <p class="mt-4 text-sm text-gray-600">
          Emisión de certificados digitales con mayor rapidez y eficiencia para nuestros partners.
        </p>
      </div>

      <!-- Beneficio 3 -->
      <div class="benefit-card">
        <div class="benefit-icon">
          <img src="/public/support/operador.png" alt="Asesoramiento" class="w-16 h-16 mx-auto">
        </div>
        <h3 class="mt-4 text-lg font-semibold text-black">Asesoramiento y soporte</h3>
        <p class="mt-4 text-sm text-gray-600">
          Brindamos asesoramiento y soporte continuo para que nuestros partners puedan seguir creciendo.
        </p>
      </div>

      <!-- Beneficio 4 -->
      <div class="benefit-card">
        <div class="benefit-icon">
          <img src="/public/support/hacer-un-seguimiento.png" alt="Seguimiento" class="w-16 h-16 mx-auto">
        </div>
        <h3 class="mt-4 text-lg font-semibold text-black">Seguimiento de ventas</h3>
        <p class="mt-4 text-sm text-gray-600">
          Facilitamos el seguimiento de los certificados digitales vendidos para un mejor control de su negocio.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-[#f3f5f7] 2xl:max-w-7xl mx-auto py-24" id="precio2">
  <div class="relative flex flex-col lg:flex-row lg:max-w-7xl mx-auto">
    <div class="lg:w-1/2 lg:flex lg:items-start lg:justify-start">
      <div class="px-8 lg:px-12 lg:py-16">
        <p class="mt-0 text-3xl font-black tracking-tight text-[#17a398] uppercase font-display">
          Precio
        </p>
        
        <!-- Información sobre precios y membresía -->
        <p class="max-w-2xl mt-4 text-lg font-medium tracking-tight text-black">
          <strong>SACS para Partners</strong>
        </p>

        <div class="bg-[#339287] p-4 rounded-xl mt-4">
          <h4 class="text-xl font-bold text-white">MEMBRESÍA</h4>
          <p class="text-base text-white mt-2">
            Precio por uso de la plataforma y capacitación en SACS y uso del SID-Sunarp.
            <strong class="text-black">Gratis por lanzamiento.</strong>
          </p>
        </div>

        <div class="bg-white p-4 rounded-xl mt-4 shadow-lg">
          <h4 class="text-xl font-bold text-[#17a398]">CERTIFICADO DIGITAL</h4>
          <p class="text-base text-gray-800 mt-2">
            Se paga por cada certificado emitido en el mes, el pago es en postpago (primeros días del mes siguiente).
            <strong>S/40.00</strong> por certificado digital (incluye IGV).
          </p>
          <ul class="mt-4 text-base text-gray-800 list-disc list-inside">
            <li>Inducción al tipo de empresa SACS.</li>
            <li>Certificados Digitales a un precio reducido.</li>
            <li>Capacitación en la plataforma <a href="https://girasol.pe/" class="text-blue-500 underline">www.girasol.pe</a>.</li>
            <li>Capacitación en el uso del SID-Sunarp.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="lg:w-1/2 flex items-center justify-center">
      <img class="object-cover w-full h-64 sm:h-80" src="public/sacs_principal.png" alt="Descripción de la imagen" />
    </div>
  </div>
</section>

<!-- Footer con los logos -->
<footer class="bg-gray-100 py-8 mt-16">
  <div class="relative h-20 mt-6 lg:mt-8 overflow-hidden mx-auto max-w-7xl">
    <div class="flex items-center animate-scroll space-x-12">
      <!-- Primer grupo de logos -->
      <div class="flex items-center space-x-12">
        <div class="logo-container">
          <img alt="logo" class="h-12 object-contain" src="/support/sup.png" />
        </div>
        <div class="logo-container">
          <img alt="logo" class="h-12 object-contain" src="/support/girasol.jpeg" />
        </div>
        <div class="logo-container">
          <img alt="logo" class="h-12 object-contain" src="/support/cofide.jpeg" />
        </div>
        <div class="logo-container">
          <img alt="logo" class="h-12 object-contain" src="/support/factmype.png" />
        </div>
        <div class="logo-container">
          <img alt="logo" class="h-12 object-contain" src="/support/INSAGA.jpeg" />
        </div>
        <div class="logo-container">
          <img alt="logo" class="h-12 object-contain" src="/support/LOGO-INCUVAL-1.png" />
        </div>
      </div>

      <!-- Segundo grupo de logos para efecto continuo -->
      <div class="flex items-center space-x-12">
        <div class="logo-container">
          <img alt="logo" class="h-12 object-contain" src="/support/sup.png" />
        </div>
        <div class="logo-container">
          <img alt="logo" class="h-12 object-contain" src="/support/girasol.jpeg" />
        </div>
        <div class="logo-container">
          <img alt="logo" class="h-12 object-contain" src="/support/cofide.jpeg" />
        </div>
        <div class="logo-container">
          <img alt="logo" class="h-12 object-contain" src="/support/factmype.png" />
        </div>
        <div class="logo-container">
          <img alt="logo" class="h-12 object-contain" src="/support/INSAGA.jpeg" />
        </div>
        <div class="logo-container">
          <img alt="logo" class="h-12 object-contain" src="/support/LOGO-INCUVAL-1.png" />
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- Estilos -->
<style>
  /* Animación de desplazamiento suave para el carrusel */
  .animate-scroll {
    display: flex;
    gap: 3rem;
    animation: scroll 40s linear infinite;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  /* Pausar animación al pasar el ratón por encima */
  .animate-scroll:hover {
    animation-play-state: paused;
  }
</style>
