<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <div class="relative mx-auto max-w-[40rem] pt-20 pb-24">
        <h1 class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
          Términos y Condiciones
        </h1>
        <p class="mt-4 text-base leading-7 text-gray-500">
          Condiciones de uso
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-[40rem] prose-base prose text-gray-500 prose-h3:text-black prose-a:font-semibold prose-a:text-accent-300 hover:prose-a:text-black">
        <h3>Condiciones de uso</h3>
        <p>
          GIRASOL PE SCRL con RUC 20605042512 con domicilio legal en Jr Tupac Yupanqui Nro 143 Amarilis Huánuco (en adelante, FIRMEASY) brinda a los usuarios acceso al conjunto de funciones y recursos online disponible en https://firmeasy.legal, incluyendo diversas herramientas para el registro, pedidos, registro de firma electrónica y otras funciones administrativas (en adelante, EL SERVICIO).
        </p>

        <h3>Aceptación De Términos</h3>
        <p>
          Al utilizar los servicios proporcionados por FIRMEASY, estás aceptando atenerte a estos Términos y Condiciones. Si no estás de acuerdo con alguna parte de estos términos, te pedimos que no accedas ni utilices la plataforma para registrar tu identidad. Los términos y condiciones entrarán en vigencia desde el momento en que crees tu cuenta en la plataforma.
        </p>

        <p>
          Al acceder a la plataforma, el servicio también puede proporcionar comunicaciones, como anuncios de servicio y mensajes administrativos. FIRMEASY no asume la responsabilidad por la disponibilidad, eliminación, errores en la entrega o fallos en cualquiera de las funciones. Eres responsable de obtener acceso al servicio y debes proporcionar y asumir la responsabilidad de todos los equipos necesarios para acceder al servicio.
        </p>

        <h3>Descripción Del Servicio</h3>
        <p>
          FIRMEASY proporciona una plataforma que utiliza la información de los solicitantes para emitir certificados digitales, facilitando la realización de firmas electrónicas avanzadas y firmas digitales certificadas.
        </p>

        <h3>Modificación Términos Y Condiciones</h3>
        <p>
          FIRMEASY tiene la prerrogativa de realizar ajustes en el SERVICIO en cualquier momento, ya sea de forma temporal o permanente (sin impactar los certificados). Cualquier modificación en los términos y condiciones será notificada mediante un aviso en la plataforma. Al continuar utilizando la plataforma después de dichas modificaciones, se considerará que aceptas los cambios.
        </p>

        <h3>Licencia y Propiedad Intelectual</h3>
        <p>
          FIRMEASY concede una licencia no transferible, no exclusiva y sin regalías para utilizar el SERVICIO. Usted se compromete a no realizar acciones como copiar, modificar, crear trabajos derivados, realizar ingeniería inversa, desarmar o intentar descubrir el código fuente, así como vender, ceder, sublicenciar, otorgar un interés de seguridad o transferir cualquier derecho en el Servicio o Software, ya sea en su totalidad o en parte.
        </p>

        <p>
          Al acceder a los servicios de FIRMEASY, acepta y consiente que la plataforma pueda acceder, conservar y divulgar su información de cuenta y contenidos de comunicación en situaciones como (a) mantenimiento; (b) cumplimiento de procesos legales; (c) respuesta a quejas que puedan infringir los derechos de terceros; (d) atención a sus solicitudes de soporte al cliente; y (e) salvaguardia de los derechos, propiedad o seguridad de FIRMEASY.
        </p>

        <h3>Sus Obligaciones</h3>
        <p>
          Al utilizar el SERVICIO, se compromete a cumplir con lo siguiente:
        </p>
        <ul>
          <li>Proporcionar información precisa, actualizada y completa sobre usted mismo, y, en caso necesario, sobre su profesión u organización, cuando se le solicite en el formulario de registro.</li>
          <li>Mantener y actualizar de inmediato los registros de datos para garantizar que sigan siendo precisos y completos.</li>
          <li>No infringir las medidas de seguridad o autenticación de la plataforma. En caso de proporcionar información falsa, incorrecta, desactualizada o incompleta, o si FIRMEASY tiene motivos razonables para sospechar que la información es incorrecta, falsa, desactualizada o incompleta, FIRMEASY se reserva el derecho de suspender o cancelar su cuenta y de negar cualquier uso actual o futuro del SERVICIO.</li>
        </ul>

        <h3>Privacidad</h3>
        <p>
          Al utilizar el SERVICIO, acepta que se recopile y utilice su información, incluida la transferencia de dicha información a una entidad encargada de la creación, emisión, revocación y gestión de CERTIFICADOS. Esta entidad podrá almacenar y procesar la información, entre otras acciones.
        </p>

        <h3>Cuenta y Seguridad</h3>
        <p>
          Al inscribirse para utilizar el SERVICIO, obtendrá acceso a su cuenta. La responsabilidad recae en usted para establecer su propia contraseña y mantener la confidencialidad tanto de la contraseña como de su cuenta. Usted es plenamente responsable de todas las actividades realizadas en su cuenta y con su contraseña.
        </p>

        <h3>Medios de Pago (Términos de Pago)</h3>
        <p>
          No se cobran tarifas por la creación o utilización del SERVICIO. No obstante, al realizar la compra de certificados digitales u otros servicios a través de nuestro sitio web, la adición de un depósito para la compra estará sujeta a los términos de pago correspondientes.
        </p>

        <h3>Cancelación de Servicios (Desactivación)</h3>
        <p>
          Usted acepta que FIRMEASY tiene la facultad de desactivar su cuenta y el acceso al SERVICIO en cualquier momento y sin necesidad de justificación.
        </p>

        <h3>Exención de Garantías</h3>
        <p>
          Usted reconoce y acepta que el uso del servicio y software recae bajo su propia responsabilidad. El servicio y software se proporcionan “tal como están” y “según disponibilidad”.
        </p>

        <h3>Limitación de Responsabilidad</h3>
        <p>
          Usted reconoce y acepta de forma expresa que FIRMEASY, sus oficinas, empleados, agentes y socios no asumirán en absoluto responsabilidad hacia usted por cualquier tipo de daño.
        </p>

        <h3>Inexistencia de Terceros Beneficiarios</h3>
        <p>
          Usted acepta que, a menos que se indique expresamente lo contrario en los términos y condiciones, no habrá beneficiarios de terceros en virtud de este acuerdo.
        </p>

        <h3>Avisos</h3>
        <p>
          FIRMEASY tiene la facultad de enviarle notificaciones, que pueden incluir aquellas relacionadas con modificaciones en los términos y condiciones, mediante correo electrónico, correo postal o publicaciones en el SERVICIO.
        </p>
      </div>
    </div>
  </div>
</section>
