<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <div class="relative mx-auto max-w-[40rem] pt-20 pb-24">
        <h1 class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
          Política de Privacidad
        </h1>
        <p class="mt-4 text-base leading-7 text-gray-500">
          Última actualización: 24 de setiembre de 2024
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-[40rem] prose-base prose text-gray-500 prose-h3:text-black prose-a:font-semibold prose-a:text-accent-300 hover:prose-a:text-black">
        <h3>PROTECCIÓN DE DATOS PERSONALES</h3>
        <p>
          La presente Política de Privacidad para la Protección de Datos Personales de este Portal Web, describe el tratamiento que LLAMA.PE SA brinda a los datos personales que recopila de los usuarios. Dicha política se ajusta a las disposiciones contenidas en la Ley de Protección de Datos Personales, Ley N° 29733, su Reglamento y la Directiva de Seguridad de la Información emitida por la autoridad competente.
        </p>

        <h3>RECOPILACIÓN DE LA INFORMACIÓN</h3>
        <p>
          Para efectos de visitar nuestro portal web usted no tiene la obligación de proporcionar datos personales. Sin embargo, para los casos en que solicite nuestros servicios, se requerirá información personal específica y necesaria para dicho fin. Tal información puede comprender el nombre, número de documento de identidad, dirección de correo electrónico y número de teléfono. Asimismo, en tanto sea estrictamente necesario, se podrá requerir otros datos personales.
        </p>

        <h3>CONSENTIMIENTO DEL USUARIO</h3>
        <p>
          El llenado de los formularios que nuestro portal web representa el consentimiento expreso del titular para la recopilación de sus datos personales y para su tratamiento para los fines específicos que motivaron su recopilación.
        </p>

        <h3>RESPONSABILIDAD POR LA INFORMACIÓN PROPORCIONADA</h3>
        <p>
          Los datos personales que el usuario proporcione deben ser, bajo su responsabilidad, verdaderos, completos, exactos, vigentes y corresponder a su verdadera identidad. Cualquier tipo de daño o perjuicio, directo o indirecto, que se derive como consecuencia del incumplimiento parcial o total de la obligación referida, será responsabilidad única y exclusiva del usuario que proporcionó la información.
        </p>

        <h3>TRATAMIENTO DE LA INFORMACIÓN</h3>
        <p>
          Los datos personales proporcionados serán objeto de tratamiento únicamente para la finalidad específica para la que fueron suministrados.
        </p>

        <h3>EJERCICIO DE DERECHOS ARCO</h3>
        <p>
          El usuario podrá ejercitar sus derechos de Información, Acceso, Rectificación, Cancelación, Revocación, Oposición, etc. (ARCO) al uso de sus datos personales, de conformidad con la Ley de Protección de Datos Personales, Ley N° 29733.
        </p>

        <h3>CAMBIOS A LA POLÍTICA DE PRIVACIDAD PARA LA PROTECCIÓN DE DATOS PERSONALES</h3>
        <p>
          LLAMA.PE SA se reserva el derecho de modificar su Política de Privacidad para la Protección de Datos Personales. Es responsabilidad del usuario mantenerse informado de dicha política, en cada oportunidad en que haga uso de nuestro portal web.
        </p>

        <h3>CONTACTO</h3>
        <p>
          Para cualquier duda escríbanos a +51 1 3012200.
        </p>
      </div>
    </div>
  </div>
</section>
