<section class="bg-zinc-100 2xl:max-w-7xl mx-auto" id="precio2">
  <div class="relative flex flex-col lg:flex-row lg:max-w-7xl mx-auto">
    <div class="lg:w-1/2 lg:flex lg:items-start lg:justify-start">
      <div class="px-8 lg:px-12 lg:py-16">
        <p class="mt-0 text-3xl font-black tracking-tight text-black uppercase font-display">
          Precio
        </p>
        
        <!-- Información sobre precios y membresía -->
        <p class="max-w-2xl mt-4 text-lg font-medium tracking-tight text-black">
          <strong>SACS para Partners</strong>
        </p>
        
        <!-- Cambiar el fondo a jade -->
        <div class="bg-[#339287] p-4 rounded-xl mt-4">  <!-- Cambiado a jade -->
          <h4 class="text-xl font-bold text-white">MEMBRESÍA</h4>  <!-- Cambia el color del encabezado a blanco -->
          <p class="text-base text-white mt-2">  <!-- Cambia el color del texto a blanco -->
            Precio por uso de la plataforma y capacitación en SACS y uso del SID-Sunarp.
            <strong class="text-black">Gratis por lanzamiento.</strong>
          </p>
        </div>

        <div class="bg-gray-100 p-4 rounded-xl mt-4">
          <h4 class="text-xl font-bold">CERTIFICADO DIGITAL</h4>
          <p class="text-base text-gray-800 mt-2">
            Se paga por cada certificado emitido en el mes, el pago es en postpago (primeros días del mes siguiente).
            <strong>S/40.00</strong> por certificado digital (incluye IGV).
          </p>
          <ul class="mt-4 text-base text-gray-800 list-disc list-inside">
            <li>Inducción al tipo de empresa SACS.</li>
            <li>Certificados Digitales a un precio reducido.</li>
            <li>Capacitación en la plataforma <a href="https://girasol.pe/" class="text-blue-500 underline">www.girasol.pe</a>.</li>
            <li>Capacitación en el uso del SID-Sunarp.</li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="lg:w-1/2 flex items-center justify-center">  <!-- Alineación central para la imagen -->
      <img
        class="object-cover w-full h-64 sm:h-80"
        src="public/sacs_principal.png" 
        alt="Descripción de la imagen"
      />
    </div>
  </div>
</section>


