<section class="bg-zinc-100 2xl:max-w-7xl mx-auto" id="precio2" >
  <div class="relative">
    <div class="lg:absolute lg:inset-0 lg:left-1/2">
      <img
        class="object-cover w-full h-64 sm:h-80 lg:absolute object-left lg:h-full"
        src="https://www.colorsandfonts.com/images/bundle.png"
        alt=""
      />
    </div>
    <div class="pt-16 pb-24 sm:pb-32 sm:pt-24 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:pt-32">
      <div class="px-8 lg:px-12">
        <div class="max-w-lg mx-auto lg:mx-0 lg:pr-12">
          <p class="mt- 12 text-3xl font-black tracking-tight text-blue-500 uppercase font-display">
            Precio
          </p>
          
          <!-- Información sobre precios y membresía -->
          <p class="max-w-2xl mt-4 text-lg font-medium tracking-tight text-black">
            <strong>SACS para Partners</strong>
          </p>
          <div class="bg-green-300 p-4 rounded-xl mt-4">
            <h4 class="text-xl font-bold">MEMBRESÍA</h4>
            <p class="text-base text-gray-800 mt-2">
              Precio por uso de la plataforma y capacitación en SACS y uso del SID-Sunarp.
              <strong class="text-blue-600">Gratis por lanzamiento.</strong>
            </p>
          </div>

          <div class="bg-gray-100 p-4 rounded-xl mt-4">
            <h4 class="text-xl font-bold">CERTIFICADO DIGITAL</h4>
            <p class="text-base text-gray-800 mt-2">
              Se paga por cada certificado emitido en el mes, el pago es en postpago (primeros días del mes siguiente).
              <strong>S/40.00</strong> por certificado digital (incluye IGV).
            </p>
            <ul class="mt-4 text-base text-gray-800 list-disc list-inside">
              <li>Inducción al tipo de empresa SACS.</li>
              <li>Certificados Digitales a un precio reducido.</li>
              <li>Capacitación en la plataforma <a href="https://www.sacs.pe" class="text-blue-500 underline">www.sacs.pe</a>.</li>
              <li>Capacitación en el uso del SID-Sunarp.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
