<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <p class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
        Ventajas:<span class="sm:block">Ahorras tiempo y recursos. Conviértete en Partner y disfruta de los siguientes beneficios:</span>
      </p>
    </div>

    <!-- Contenedor de las ventajas -->
    <ul class="mt-12 lg:mt-24 grid grid-cols-1 gap-4 lg:gap-8 sm:grid-cols-2 lg:grid-cols-4">
      
      <!-- Introducción al tipo de empresas SACS -->
      <li>
        <div class="h-full flex flex-col justify-between bg-white rounded-2xl shadow-lg p-6">
          <div class="flex gap-x-2 items-center">
            <img class="h-12 w-12 object-contain" src="public/gestion-de-proyectos.png" alt="Icono introducción empresas SACS" />
            <h3 class="text-lg font-semibold text-black">Introducción al tipo de empresas SACS</h3>
          </div>
          <p class="text-gray-500 mt-4">
            Conoce el tipo de Sociedad, sus derechos y sus obligaciones.
          </p>
        </div>
      </li>

      <!-- Certificados Digitales -->
      <li>
        <div class="h-full flex flex-col justify-between bg-white rounded-2xl shadow-lg p-6">
          <div class="flex gap-x-2 items-center">
            <img class="h-12 w-12 object-contain" src="public/certificado.png" alt="Icono certificados digitales" />
            <h3 class="text-lg font-semibold text-black">Certificados Digitales</h3>
          </div>
          <p class="text-gray-500 mt-4">
            Obtén Certificados Digitales a un precio reducido.
          </p>
        </div>
      </li>

      <!-- Capacitación en uso del SID-Sunarp -->
      <li>
        <div class="h-full flex flex-col justify-between bg-white rounded-2xl shadow-lg p-6">
          <div class="flex gap-x-2 items-center">
            <img class="h-12 w-12 object-contain" src="public/capacitacion.png" alt="Icono capacitación SID-Sunarp" />
            <h3 class="text-lg font-semibold text-black">Capacitación en uso del SID-Sunarp</h3>
          </div>
          <p class="text-gray-500 mt-4">
            Conviértete en experto del Módulo SACS del SID-Sunarp.
          </p>
        </div>
      </li>

      <!-- Capacitación en uso de nuestra plataforma -->
      <li>
        <div class="h-full flex flex-col justify-between bg-white rounded-2xl shadow-lg p-6">
          <div class="flex gap-x-2 items-center">
            <img class="h-12 w-12 object-contain" src="public/diseno-de-respuesta.png" alt="Icono capacitación plataforma" />
            <h3 class="text-lg font-semibold text-black">Capacitación en uso de nuestra plataforma</h3>
          </div>
          <p class="text-gray-500 mt-4">
            Recibe una inducción para conocer nuestra herramienta.
          </p>
        </div>
      </li>
      
    </ul>
  </div>
</section>