<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <p class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
        Beneficios Exclusivos:<span class="sm:block">Simplifica tu proceso, potencia tu negocio y aprovecha las siguientes ventajas como Partner:</span>
      </p>
    </div>

    <!-- Contenedor de los beneficios -->
    <ul class="mt-12 lg:mt-24 grid grid-cols-1 gap-4 lg:gap-8 sm:grid-cols-2 lg:grid-cols-4">
      
      <!-- Acceso a recursos exclusivos -->
      <li>
        <div class="h-full flex flex-col justify-between bg-white rounded-2xl shadow-lg p-6">
          <div class="flex gap-x-2 items-center">
            <img class="h-12 w-12 object-contain" src="public/gestion-de-proyectos.png" alt="Icono acceso a recursos exclusivos" />
            <h3 class="text-lg font-semibold text-black">Acceso a recursos exclusivos</h3>
          </div>
          <p class="text-gray-500 mt-4">
            Aprende sobre las últimas tendencias en sociedades, regulaciones, y cómo gestionar tus obligaciones de manera efectiva.
          </p>
        </div>
      </li>

      <!-- Certificados con tarifas preferenciales -->
      <li>
        <div class="h-full flex flex-col justify-between bg-white rounded-2xl shadow-lg p-6">
          <div class="flex gap-x-2 items-center">
            <img class="h-12 w-12 object-contain" src="public/certificado.png" alt="Icono certificados con tarifas preferenciales" />
            <h3 class="text-lg font-semibold text-black">Certificados con tarifas preferenciales</h3>
          </div>
          <p class="text-gray-500 mt-4">
            Accede a certificados digitales con descuentos exclusivos, impulsando tu negocio sin afectar tus ganancias.
          </p>
        </div>
      </li>

      <!-- Formación especializada en trámites digitales -->
      <li>
        <div class="h-full flex flex-col justify-between bg-white rounded-2xl shadow-lg p-6">
          <div class="flex gap-x-2 items-center">
            <img class="h-12 w-12 object-contain" src="public/capacitacion.png" alt="Icono formación especializada" />
            <h3 class="text-lg font-semibold text-black">Formación especializada en trámites digitales</h3>
          </div>
          <p class="text-gray-500 mt-4">
            Domina las herramientas digitales y los procesos en línea, obteniendo habilidades clave para mejorar tu servicio.
          </p>
        </div>
      </li>

      <!-- Soporte continuo y capacitación personalizada -->
      <li>
        <div class="h-full flex flex-col justify-between bg-white rounded-2xl shadow-lg p-6">
          <div class="flex gap-x-2 items-center">
            <img class="h-12 w-12 object-contain" src="public/diseno-de-respuesta.png" alt="Icono soporte y capacitación personalizada" />
            <h3 class="text-lg font-semibold text-black">Soporte continuo y capacitación personalizada</h3>
          </div>
          <p class="text-gray-500 mt-4">
            Recibe soporte y asesoría en el uso de nuestra plataforma, asegurando un inicio exitoso y sin complicaciones.
          </p>
        </div>
      </li>
      
    </ul>
  </div>
</section>
